h1{
	color: red;
	font-family: cursive;
	text-align: center;
	padding-top: 20px;
}
body{

	margin-left: 200px;
	margin-right: 200px;
	opacity: 1;
	font-family: cursive;
	background-attachment: fixed;
	background-image: url(images/background.jpg);
	}

